*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter',sans-serif;
}

body {
    background-color: #FBFBFB;
}
/* header */
header{
    padding-left: 15rem;
    padding-right: 15rem;
}
.header-top img{
    width: 3rem;
    height: 3rem;
}
.header-top{
    height: 5rem;
    padding-left: 60rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-top{
    color: #493A7C;
}
/* main */
main{
    padding-left: 15rem;
    padding-right: 15rem;
}
/* boas vindas */
#presentation-text{
    height: 20rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}
#name-text{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#name-carol{
    padding-top: 5rem;
    color: #493A7C;
}
/* sobre mim */
.about-me{
    height: 30rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.about-me-text{
    width: 40rem;
}
#text-header-about p{
    font-size: 1.2rem;
    font-weight: 2rem;
}
.sub-text{
    height: 15rem;
    display: flex;
    align-items: flex-end;
    font-size: 3rem;
}
#myPhoto{
    padding-top: 10rem;
}
#myPhoto img{
    height: 50rem;
    width: 30rem;
}
/* filmes favoritos */
.movies img{
    width: 15rem;
}
.movies{
    height: 25rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.movies-fav{
    padding-bottom: 2rem;
}
.movies-fav h2{
    padding-left: 3rem;
}
/* footer */
footer {
    background-color: #493A7C;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }